@media (min-width: $desktop) {

    header {
        position: fixed;
        top: .1;
        left: 0;
        width: 100%;
        height: 55px;
        z-index: 999;
        margin-top: -30px;

        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(9px);
        -webkit-backdrop-filter: blur(9px);
        border: 1px solid rgba(255, 255, 255, 0.3);



        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;

            height: 100%;

            margin-left: 15px;
            margin-right: 15px;

            ul:first-child {
                display: flex;
                justify-content: center;
                align-items: center;

                list-style-type: none;

                width: 100px;
                height: 50px;

                li {

                    a {
                        img {
                            width: 200%;
                            height: 200%;
                        }
                    }

                }
            }

            ul {
                display: flex;
                justify-content: center;
                align-items: center;

                list-style-type: none;

                li {

                    margin-right: 30px;

                    a {
                        color: #212529;
                        text-decoration: none;
                    }

                    a:hover {
                        background: rgb(255, 149, 149);
                        background: -moz-linear-gradient(45deg, rgba(255, 149, 149, 1) 0%, rgba(255, 167, 223, 1) 25%, rgba(171, 57, 172, 1) 75%, rgba(89, 76, 255, 1) 100%);
                        background: -webkit-linear-gradient(45deg, rgba(255, 149, 149, 1) 0%, rgba(255, 167, 223, 1) 25%, rgba(171, 57, 172, 1) 75%, rgba(89, 76, 255, 1) 100%);
                        background: linear-gradient(45deg, rgba(255, 149, 149, 1) 0%, rgba(255, 167, 223, 1) 25%, rgba(171, 57, 172, 1) 75%, rgba(89, 76, 255, 1) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff9595", endColorstr="#594cff", GradientType=1);

                        -webkit-background-clip: text;
                        background-clip: text;
                        -moz-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }

                }

                .selected {
                    border: solid rgba(171, 57, 172, 1);
                    border-width: 2px 0;
                    padding: 7px 0;

                    a {
                        background: rgb(255, 149, 149);
                        background: -moz-linear-gradient(45deg, rgba(255, 149, 149, 1) 0%, rgba(255, 167, 223, 1) 25%, rgba(171, 57, 172, 1) 75%, rgba(89, 76, 255, 1) 100%);
                        background: -webkit-linear-gradient(45deg, rgba(255, 149, 149, 1) 0%, rgba(255, 167, 223, 1) 25%, rgba(171, 57, 172, 1) 75%, rgba(89, 76, 255, 1) 100%);
                        background: linear-gradient(45deg, rgba(255, 149, 149, 1) 0%, rgba(255, 167, 223, 1) 25%, rgba(171, 57, 172, 1) 75%, rgba(89, 76, 255, 1) 100%);
                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff9595", endColorstr="#594cff", GradientType=1);

                        -webkit-background-clip: text;
                        background-clip: text;
                        -moz-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }

            }

            ul:last-child {
                display: flex;
                justify-content: center;
                align-items: center;

                list-style-type: none;

                li {

                    margin-right: 30px;

                    svg {
                        width: 24px;
                        height: 24px;
                        stroke: #212529;
                    }

                    svg:hover {
                        stroke: black;
                    }

                }

                li:last-child {
                    margin-right: 0;
                }

            }
        }
    }

    h1,
    h2 {
        font-family: 'SFB', sans-serif;
    }


    .contenedor-producto {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        //margin-top: 24px;

        padding-left: 45px;
        padding-right: 45px;

        .contenedor-texto {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            margin-top: 45px;
        }
    }

    .titulo-producto {
        font-family: 'SFB', sans-serif;
        font-size: 75px;

        background: rgb(255, 149, 149);
        background: -moz-linear-gradient(45deg, rgba(255, 149, 149, 1) 0%, rgba(255, 167, 223, 1) 25%, rgba(171, 57, 172, 1) 75%, rgba(89, 76, 255, 1) 100%);
        background: -webkit-linear-gradient(45deg, rgba(255, 149, 149, 1) 0%, rgba(255, 167, 223, 1) 25%, rgba(171, 57, 172, 1) 75%, rgba(89, 76, 255, 1) 100%);
        background: linear-gradient(45deg, rgba(255, 149, 149, 1) 0%, rgba(255, 167, 223, 1) 25%, rgba(171, 57, 172, 1) 75%, rgba(89, 76, 255, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff9595", endColorstr="#594cff", GradientType=1);

        -webkit-background-clip: text;
        background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .subtitulo-producto {
        font-family: 'SFB', sans-serif;
        font-size: 40px;
    }

    .foto-producto {
        width: 375px;
        height: 329.25px;
        margin-top: 80px;
    }

    .carousel-control-next {
        width: 75px;
    }

    .carousel-control-prev {
        width: 75px;
    }

    .carousel-control-next-icon {
        border-radius: 50px !important;
        background-color: black !important;
    }

    .carousel-control-prev-icon {
        border-radius: 50px !important;
        background-color: black !important;
    }

    .carousel-item {
        margin-left: 30px;
    }

    #carouselExample {
        margin-top: 55px;
    }

    .span {
        font-family: 'SFB', sans-serif;
        font-size: 18px;

        margin-left: 75px;
    }

    strong {
        font-family: 'SFB', sans-serif;
    }

    .anuncios-header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;

        background: rgb(254, 200, 200);
        background: -moz-linear-gradient(45deg, rgba(254, 200, 200, 1) 0%, rgba(255, 199, 235, 1) 25%, rgba(254, 154, 255, 1) 75%, rgba(129, 119, 250, 1) 100%);
        background: -webkit-linear-gradient(45deg, rgba(254, 200, 200, 1) 0%, rgba(255, 199, 235, 1) 25%, rgba(254, 154, 255, 1) 75%, rgba(129, 119, 250, 1) 100%);
        background: linear-gradient(45deg, rgba(254, 200, 200, 1) 0%, rgba(255, 199, 235, 1) 25%, rgba(254, 154, 255, 1) 75%, rgba(129, 119, 250, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fec8c8", endColorstr="#8177fa", GradientType=1);

        border: none;
        border-radius: 0;
        height: 25px;
        padding: 0;
        padding-top: 1px;

        color: #212529;
        text-align: center;
        font-size: 14px;


        .btn-close {
            padding: 0;
            margin-top: 5px;
            margin-right: 15px;
            width: 0.9rem;
            height: 0.9rem;
        }
    }

    footer {
        background-color: #f1edf5;

        padding: 10px 0;

        hr {
            margin: 0 150px;
        }

        nav {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;
            align-items: start;

            ul {
                margin: 10px 0;


                list-style-type: none;
                font-family: 'SFB', sans-serif;
                font-size: 14px;

                li {
                    font-family: 'Inter', sans-serif;
                    margin-top: 2.5px;

                    a {
                        text-decoration: none;
                        color: #212529
                    }

                    a:hover {
                        text-decoration: underline;
                        color: #212529
                    }
                }
            }
        }
    }

    .enlace-decorado {
        text-decoration: none;
        font-family: 'SF', sans-serif;
        font-size: 21px;
    }
}